@model issBlueMetal.Models.User

@{
    ViewBag.Title = "Edit";
}


<div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6 breadcrumbs-left">
                <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>User Edit</span></h5>

                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="~/Users/Index">Index</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Edit</a>
                    </li>

                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card card-tabs">
            <div class="card-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="header-elements">
                        <div class="list-icons" style="text-align:right">
                            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="form-group">
                                <div class="input-field col s3">
                                    <i class="material-icons prefix">account_circle</i>
                                    @Html.DropDownList("companyId", null, htmlAttributes: new { @class = "form-control" })
                                    <label for="icon_prefix3"> Company</label>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="input-field col s3">

                                    <label for="icon_prefix3">Name</label>
                                    <div class="form-control input-field">
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="input-field col s3">
                                    <label for="icon_prefix3">User Name</label>
                                    <div class="form-control input-field">
                                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", } })
                                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="input-field col s3">
                                    <label for="icon_prefix3">Password</label>
                                    <div class="form-control input-field">
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control",  } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group">

                                <div class="input-field col s3">
                                    <div class="form-control input-field">
                                        @Html.DropDownList("role",new List<SelectListItem> {
                                        new SelectListItem{ Text="Admin", Value="Admin"},
                                 new SelectListItem{ Text="Manager", Value="Manager"},
                           new SelectListItem{ Text="Employee", Value="Employee"},
                                   })
                                        @*@Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control", @placeholder = "Role" } })
                    @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="input-field col s3">
                                    <label for="icon_prefix3">Status</label>
                                    <div class="form-control input-field">
                                        @Html.DropDownList("status", new List<SelectListItem>
                                         {
new SelectListItem{ Text="Active", Value="Active"},
new SelectListItem{ Text="InActive", Value="InActive"},
}, "--- Select ---", new { @class = "js-example-basic-single" })
                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="input-field col s3">
                                    <div class="form-control input-field">
                                        @Html.EditorFor(model => model.lastLogin, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Login" } })
                                        @Html.ValidationMessageFor(model => model.lastLogin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 input-field col s3">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    
                }

            </div>
        </div>
    </div>
</div>
