@model issBlueMetal.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<style>
    label {
        font-size: 17px;
        font-weight: 400;
        color: #8e24aa !important;
    }

    input[type=text]:not(.browser-default) {
        width: 50%;
    }

    .card-content {
        width: 70%;
    }

    input[type=text]:not(.browser-default):hover {
        color: none;
    }

    table {
        padding: 8px;
        margin-left: 5px;
    }

    tr th {
        margin-left: 10px;
    }

    .btn {
        background-color: #ff5252 !important;
    }
</style>
<div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6 breadcrumbs-left">
                <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>Vehicle Details</span></h5>

                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="~/Vehicles/Index">Index</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Details</a>
                    </li>

                </ol>
            </div>

        </div>
    </div>
</div>




<div class="row">
    <div class="col s12">
        <div class="card card-tabs">
            <div class="card-header header-elements-inline">
                <div class="header-elements" style="float: right;margin-top:10px;margin-right:10px">
                    <div class="list-icons">
                        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
                        @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
            <div class="card-content">

                <table>
                    <tr>
                        <th style="width: 25%"> <label class="col-lg-2 font-weight-bold">Vehicle No</label></th>
                        <th> @Html.DisplayFor(model => model.vehicleNo)</th>

                    </tr>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">Short No</label></th>
                        <th> @Html.DisplayFor(model => model.shortNo)</th>
                    </tr>
                    <tr>
                        <th>   <label class="col-lg-2 font-weight-bold">Vehicle Name</label></th>
                        <th>
                            @Html.DisplayFor(model => model.vehicleName)
                        </th>
                    </tr>
                    <tr>
                        <th>   <label class="col-lg-2 font-weight-bold">Registration Address</label></th>
                        <th> @Html.DisplayFor(model => model.registrationAddress)</th>
                    </tr>
                    <tr>
                        <th>   <label class="col-lg-2 font-weight-bold">MFD Year</label></th>
                        <th> @Html.DisplayFor(model => model.mfdYear)</th>
                    </tr>
                    <tr>
                        <th>   <label class="col-lg-2 font-weight-bold">Insurance Ex Date</label></th>
                        <th> @Html.DisplayFor(model => model.insuranceExDate)</th>
                    </tr>
                    <tr>
                        <th>   <label class="col-lg-2 font-weight-bold">Tax Ex Date</label></th>
                        <th> @Html.DisplayFor(model => model.taxExDate)</th>
                    </tr>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">Permit Ex Date</label></th>
                        <th> @Html.DisplayFor(model => model.permitExDate)</th>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">FC Ex Date</label></th>
                        <th> @Html.DisplayFor(model => model.fcExDate)</th>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">Oil Service</label></th>
                        <th> @Html.DisplayFor(model => model.oillService)</th>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">Greece Packing</label></th>
                        <th> @Html.DisplayFor(model => model.greecePacking)</th>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">Coolent Oil</label></th>
                        <th> @Html.DisplayFor(model => model.coolentOill)</th>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">Gear Box Oil</label></th>
                        <th> @Html.DisplayFor(model => model.gearBoxOill)</th>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">Grown Oil</label></th>
                        <th> @Html.DisplayFor(model => model.grownOill)</th>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">Salary</label></th>
                        <th> @Html.DisplayFor(model => model.salary)</th>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">Vehicle Detail</label></th>
                        <th> @Html.DisplayFor(model => model.vehicleDetail)</th>
                    <tr>
                        <th> <label class="col-lg-2 font-weight-bold">No of Unit</label></th>
                        <th> @Html.DisplayFor(model => model.noofUnit)</th>
                    </tr>
                </table>


            </div>

        </div>
    </div>
</div>