@model IEnumerable<issBlueMetal.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}
<style>
    .dataTables_wrapper {
        position: relative;
        clear: both;
        padding: 2% !important;
    }
</style>

<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6 breadcrumbs-left">
                <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>Vehicle</span></h5>

                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="~/Home/Index">Dashboard(Master)</a>

                    </li>
                    <li class="breadcrumb-item">
                        <a>Vehicle Index</a>
                    </li>

                </ol>
            </div>

        </div>
    </div>
</div>

<div class="col s12">
    <div class="container">
        <div class="section">
            <div class="container">
                <div class="card">

                    <div class="card-tabs">
                        <table class="display" id="tblItems">
                            <thead>
                                <tr>
                                    <th>
                                        <h3 class="card-title">Id</h3>

                                    </th>
                                    <th>
                                        <h3 class="card-title">Vehicle No</h3>

                                    </th>
                                    <th>
                                        <h3 class="card-title">Short No</h3>

                                    </th>
                                    <th>
                                        <h3 class="card-title">Vehicle Name</h3>

                                    </th>
                                    <th>
                                        <h3 class="card-title">Registration Address</h3>

                                    </th>
                                    <th>
                                        <h3 class="card-title">MFD Year</h3>

                                    </th>
                                    @*<th>
                        @Html.DisplayNameFor(model => model.insuranceExDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.taxExDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.permitExDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fcExDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.oillService)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.greecePacking)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.coolentOill)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.gearBoxOill)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.grownOill)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.salary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.vehicleDetail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.noofUnit)
                    </th>*@
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.vehicleNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.shortNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.vehicleName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.registrationAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.mfdYear)
                                        </td>
                                        @*<td>
                            @Html.DisplayFor(modelItem => item.insuranceExDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.taxExDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.permitExDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fcExDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.oillService)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.greecePacking)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.coolentOill)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.gearBoxOill)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.grownOill)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.salary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vehicleDetail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.noofUnit)
                        </td>*@
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#tblItems").DataTable();

    });

</script>