@model IEnumerable<issBlueMetal.Models.RawMateriyalPurchase>

@{
    ViewBag.Title = "Index";
}
<style>
    .dataTables_wrapper {
        position: relative;
        clear: both;
        padding: 2% !important;
    }
</style>

<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s10 m15 20 breadcrumbs-left">
                <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>Raw Material Purchase</span></h5>

                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="~/Home/Index">Dashboard</a>

                    </li>
                    <li class="breadcrumb-item">
                        <a>Raw Material Purchase Index</a>
                    </li>

                </ol>
            </div>

        </div>
    </div>
</div>

<div class="col s12">
    <div class="container">
        <div class="section">
            <div class="container">
                <div class="card">

                    <div class="card-tabs">
                        <table class="display" id="tblItems">
                            <thead>
                                <tr>
                                    <th>
                                        <h3 class="card-title">Id</h3>
                                    </th>
                                    <th>
                                        <h3 class="card-title">Vehicle No</h3>
                                    </th>
                                    <th>
                                        <h3 class="card-title"> Supplier</h3>
                                    </th>

                                    <th>
                                        <h3 class="card-title">Material Name</h3>
                                    </th>
                                    <th>
                                        <h3 class="card-title">Departure Place</h3>
                                    </th>

                                    <th>
                                        <h3 class="card-title">Net Amount</h3>
                                    </th>


                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Vehicle.vehicleNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Supplier.name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.materialName.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DeparturePlace.name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.netAmount)
                                        </td>

                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.id })|
                                            <a href="~/Report/RawMaterial/@item.id">Receipt</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#tblItems").DataTable();

    });

</script>