@model issBlueMetal.Models.UnitConvertion

@{
    ViewBag.Title = "Edit";
}

<style>
    label {
        font-size: 17px;
        font-weight: 400;
        color: #a53394 !important;
    }

    input[type=text]:not(.browser-default) {
        width: 75%;
    }

        input[type=text]:not(.browser-default):hover {
            color: none;
        }

    .btn {
        background-color: #ff5252 !important;
    }
</style>
<div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6 breadcrumbs-left">
                <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down"><span>Edit Unit Convertion </span></h5>

                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="~/UnitConvertions/Index">Index</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Edit</a>
                    </li>

                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card card-tabs">
            <div class="card-content" style="margin:20px">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="header-elements">
                        <div class="list-icons" style="text-align:right">
                            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="form-group">

                                <div class="input-field col s4">
                                    <label for="icon_prefix3">Main Unit Name</label><br />
                                    <div class="form-control input-field">
                                        @Html.EditorFor(model => model.mainUnitName, new { htmlAttributes = new { @class = "form-control", } })
                                        @Html.ValidationMessageFor(model => model.mainUnitName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">

                                <div class="input-field col s4">
                                    <label for="icon_prefix3">Sub Unit Name</label><br />
                                    <div class="form-control input-field">
                                        @Html.EditorFor(model => model.subUnitName, new { htmlAttributes = new { @class = "form-control", } })
                                        @Html.ValidationMessageFor(model => model.subUnitName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="input-field col s4">
                                    <label for="icon_prefix3">Factor</label><br />
                                    <div class="form-control input-field">
                                        @Html.EditorFor(model => model.factor, new { htmlAttributes = new { @class = "form-control", } })
                                        @Html.ValidationMessageFor(model => model.factor, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 input-field col s3">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>
</div>
